:root {
    --primary: #738578;
    --primaryDark: #506A68;
    --primaryLight: #EEE2D8;
    --secondary: #D99A56;
    --secondaryDark: #D99A56;
    --secondaryLight: #E3DFD7;
    --gray900: #212529;
}

#simpleTextBanner {
    background-color: var(--primary);
    padding: 3%;
    text-align: center;
color: #FFFFFF;
}